@import url('Https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    color: black;
    background-color: #f0f0f0;
}

:root{
    --bg-color: #fff;
    --second-bg-color: #222;
    --text-color: rgb(15, 15, 15);
    --main-color: rgb(244, 74, 111);
}

.slideInTop{
    animation: slideInTop 0.3s ease-in-out;
}
@keyframes slideInTop{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


.ads{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    position: fixed;
    z-index: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 40px;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #888787;   
    position: fixed;
    margin-top: 40px;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
}
header .middle-navbar a {
    font-size: 0.8rem;
    color: #222;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    position: relative;
    transition: .5s ease;
    width: 90px;
    height: 35px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .middle-navbar a:nth-child(1){
    background-color: var(--main-color);
}
header .middle-navbar a:hover {
    color: var(--second-bg-color);
    background-color: var(--main-color);
}
header .left-navbar img{
    height: 170px;
    margin-top: 20px;
}
header .left-navbar{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .right-navbar {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
header .right-navbar a{
    color: black;
}
header .right-navbar .image{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #fff;
    box-shadow: -1px 5px 5px #7d7d7d, 1px -5px 5px #7d7d7d;
}
header .right-navbar .image:nth-child(1){
    display: none;
}



/* HOME PAGE */
.home-page {
    background-color: #dbd9d9; 
    color: #222; 
    position: relative;
    width: 100%;
    height: 100vh;
}
.home-page .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 90px ;
    gap: 120px;
}
.home-page h1 {
    font-size: 3rem;
}
.home-page h2{
    font-size: 1.2rem;
}
.home-page p{
    font-size: 1.2rem;
}
.btn1{
    background-color: var(--main-color);
    color: #fff;
    width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 0.9rem;
    border-radius: 10px;
    transition: .5s ease;
    font-weight: 700;
}
.btn1:hover{
    border: 2px solid #ef5f5f;
    background-color: transparent;
    color: black;
}
.home-page .left-pane{
    margin-top: 100px;
}
.home-page .left-pane .down{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.home-page .right-pane img{
    margin-top: 130px;
    width: 200px;
    height: 250px;
}




/* OFFER PAGE */
.offer {
    text-align: center;
    height: 120vh;
}
.offer .content{
    margin-left: auto;
    margin-right: auto;
}
.offer h1{
    margin-top: 100px;
}
.offer .lower{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.offer .lower .list {
    width: fit-content;
}
.offer .lower .list .box .images{
    width: 250px;
    border-radius: 5px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    box-shadow: -1px 5px 5px #919191, 1px -5px 5px #c6c6c6;
}
.offer .lower .list .box img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.offer .lower .list .box{
    text-align: center;
    margin-left: 30px;
}
.offer .lower .list .box .text{
    margin-top: 30px;
    width: 270px;
}
.offer .lower .list .box .text p{
    margin-top: 15px;
}
.offer .lower .list .box .text button{
    height: 35px;
    font-weight: 600;
    width: 120px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    transition: .5s;
}
.offer .lower .list .box .text button:hover{
    background-color: var(--main-color);
    color: #fff;    
}






/* NEW PRODUCTS */
.new-products{
    height: 100vh;
    background-color: #dbd9d9;
    width: 100%;
    
}
.new-products .content {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* gap: 50px; */
}
.new-products .content .inner-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.new-products .content .inner-content .box{
    background-color: #fff;
    margin-left: 20px;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: .2s ease;
}
.new-products .content .inner-content .box img{
    width: 50%;
}
.new-products .content .inner-content .inner-content .box p{
    color: var(--main-color);
    margin-top: 10px;
}
.new-products .content .box:hover{
    transform: translateY(-5px);
}





/* INGREDIENTS */
.ingredients{
    height: 140vh;
    margin-top: 70px;
    text-align: center;
    width: 100%;
    /* padding-left: 70px;
    padding-right: 70px; */
}
.ingredients .content{
    display: grid;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* padding: 70px; */
}
.ingredients .content a{
    display: inline-block;
    padding: 0.4rem 0.5rem;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--second-bg-color);
    font-size: 0.7rem;
    transition: .5s ease;   
}
.ingredients .content p{
    font-size: 0.8rem;
}
.ingredients .content p{
    font-size: 0.8rem;
}
.ingredients .box1 img{
   max-width: 50%;
}
.ingredients .content .left-side{
    display: flex;
    gap: 100px;
    margin-top: 30px;
}
.ingredients .content .left-side .box1{
    width: 200px;
    height: 250px;
    background-color: #dbd9d9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .2s ease;
    gap: 5px;
}
.ingredients .content .middle-side{
    border: 1px solid #ef5f5f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f77878;
}
.ingredients .content .middle-side img{
    width: 290px;
    height: 330px;
}
.ingredients .content .right-side{
    display: flex;
    gap: 100px;
}
.ingredients .content .right-side .box1{
    width: 200px;
    height: 250px;
    background-color: #dbd9d9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .2s ease;
    gap: 5px;
}
.ingredients .content .right-side .box1:hover{
    transform: translateX(-5px);
}
.ingredients .content .left-side .box1:hover{
    transform: translateX(5px);
}






/* FOOTER */
footer{
    height: 45vh;
    background-color: #7d7d7d;
    margin-top: 200px;
}
footer .content{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;

}
footer .content .first {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
}
footer .content .first .top{
    line-height: 23px;
}
footer .content .first .bottom{
    display: grid;
    gap: 10px;
}
footer .content .second{
    display: grid;
    gap: 30px;
}
footer .content .second .top,.bottom{
    display: flex;
}
footer .content .socials .accounts img{
    width: 30px;
    height: 30px;
}
footer .content .socials .about{
    width: 200px;
    margin-top: 20px;
}
footer .content .arrow{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: -1px 2px 2px #3e3e3e, 1px -2px 2px #3e3e3e;
}

























@media only screen and (max-width: 900px){
    header .left-navbar{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .middle-navbar{
        width: 70%;
    }
}




@media only screen and (max-width: 700px){
    header{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        height: 60px;
    }
    header .middle-navbar{
        display: initial;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 290px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        width: 100%;
        height: 200px;
        position: absolute;
        left: 0;
        font-size: 0.8rem;
        right: 0;
        top: -230px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    header .middle-navbar a{
        padding: auto;
        margin-left: auto;
        margin-right: auto;
        height: 32px;
    }
    header .right-navbar{
        margin-right: -10px;
    }
    header .right-navbar .image:nth-child(1){
        display: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .right-navbar .image:nth-child(2){
        margin-left: 20px;
    }
    .middle-navbar.active{
        opacity: 1;
        
    }





    .home-page{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .home-page .content{
        display: grid;
        gap: 20px;
    }
    .home-page .content .left-pane{
       margin-top: 30px;
    }
    .home-page .content .left-pane .down{
        
     }
    .home-page .content .right-pane{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
     }
     .home-page .content .right-pane img{
        width: 150px;
        height: 200px;
        margin: auto;
     }

    


     .offer{
        height: 200vh;
     }



     .new-products{
        height: 170vh;
        
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
     }
}