@import url('Https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body{
    color: black;
    background-color: #f0f0f0;
}

:root{
    --bg-color: #fff;
    --second-bg-color: #222;
    --text-color: rgb(15, 15, 15);
    --main-color: rgb(244, 74, 111);
}

.slideInTop{
    animation: slideInTop 0.3s ease-in-out;
}
@keyframes slideInTop{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


.ads{
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s ease    ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
    background-color: #888787;   
}
nav {
    display: flex;
    align-items: center;
}
header .middle-navbar{
    margin-right: 120px;
}
header .middle-navbar a {
    color: #222;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    position: relative;
    transition: .5s ease;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .middle-navbar a:nth-child(1){
    background-color: var(--main-color);
}
header .middle-navbar a:hover {
    color: var(--second-bg-color);
    background-color: var(--main-color);
}
header .left-navbar img{
    height: 200px;
    margin-top: 20px;
}
header .right-navbar {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
header .right-navbar a{
    color: black;
}
header .right-navbar .image{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #fff;
    box-shadow: -1px 5px 5px #7d7d7d, 1px -5px 5px #7d7d7d;
}



/* HOME PAGE */
.home-page {
    background-color: #dbd9d9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #222; 
    height: 100vh;
    padding-bottom: 70px;
}
.home-page h1 {
    font-size: 5rem;
}
.home-page h2{
    font-size: 2rem;
}
.home-page p{
    font-size: 2rem;
    /* letter-spacing: -1.5px; */
}
.home-page button:nth-child(1){
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
    background-color: var(--main-color);
}
.home-page .left-pane button:nth-child(2){
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
    background-color: var(--main-color);
}



/* OFFER PAGE */
.offer {
    text-align: center;
    
    height: 100vh;
}
.offer h1{
    margin-top: 100px;
}
.offer .lower{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    margin-top: 20px;
}
.offer .lower .list .box .images{
    width: 270px;
    border-radius: 5px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    box-shadow: -1px 5px 5px #919191, 1px -5px 5px #c6c6c6;

}
.offer .lower .list .box img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.offer .lower .list .box{
    text-align: center;
    margin-left: 30px;
}
.offer .lower .list .box .text{
    margin-top: 30px;
    width: 270px;
}
.offer .lower .list .box .text p{
    margin-top: 15px;
}
.offer .lower .list .box .text button{
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border-bottom: 1.5px solid  #222;
    transition: .5s;
}
.offer .lower .list .box .text button:hover{
    border-bottom: 2px solid  #ef5f5f;
    color: #ef5f5f;
}



/* SLIDER */
.container{
    background-color: #dbd9d9;
    height: 100vh;
    padding: 2rem;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}





































.payment-info {
    background: blue;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
  }
  
  .product-details {
    padding: 10px;
  }
  
  body {
    background: #eee;
  }
  
  .cart {
    background: #fff;
  }
  
  .p-about {
    font-size: 12px;
  }
  
  .table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  }
  
  .type {
    font-weight: 400;
    font-size: 10px;
  }
  
  label.radio {
    cursor: pointer;
  }
  
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }
  
  label.radio input:checked + span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
  }
  
  .credit-inputs {
    background: rgb(102,102,221);
    color: #fff !important;
    border-color: rgb(102,102,221);
  }
  
  .credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
  }
  
  .credit-card-label {
    font-size: 9px;
    font-weight: 300;
  }
  
  .form-control.credit-inputs:focus {
    background: rgb(102,102,221);
    border: rgb(102,102,221);
  }
  
  .line {
    border-bottom: 1px solid rgb(102,102,221);
  }
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
  }
  
  .spec {
    font-size: 11px;
  }

