@import url('Https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    color: black;
    background-color: #f0f0f0;
}

:root{
    --bg-color: #fff;
    --second-bg-color: #222;
    --text-color: rgb(15, 15, 15);
    --main-color: rgb(244, 74, 111);
}

.slideInTop{
    animation: slideInTop 0.3s ease-in-out;
}
@keyframes slideInTop{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


.ads{
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    position: fixed;
    z-index: 1;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #888787;   
    position: fixed;
    /* margin-top: 50px; */
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
}
header .middle-navbar{
    margin-right: 120px;
}
header .middle-navbar a {
    font-size: 0.9rem;
    color: #222;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    position: relative;
    transition: .5s ease;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .middle-navbar a:nth-child(1){
    background-color: var(--main-color);
}
header .middle-navbar a:hover {
    color: var(--second-bg-color);
    background-color: var(--main-color);
}
header .left-navbar img{
    height: 200px;
    margin-top: 20px;
}
header .right-navbar {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
header .right-navbar a{
    color: black;
}
header .right-navbar .image{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #fff;
    box-shadow: -1px 5px 5px #7d7d7d, 1px -5px 5px #7d7d7d;
}
header .right-navbar .image:nth-child(1){
    display: none;
}



/* HOME PAGE */
.home-page {
    background-color: #dbd9d9; 
    color: #222; 
    position: relative;
    width: 100%;
    height: 100vh;
}
.home-page .content{
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 90px 220px;
    gap: 120px;
}
.home-page h1 {
    font-size: 4rem;
}
.home-page h2{
    font-size: 1.5rem;
}
.home-page p{
    font-size: 1.5rem;
}
.btn1{
    background-color: var(--main-color);
    color: #fff;
    width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    transition: .5s ease;
    font-weight: 700;
}
.btn1:hover{
    border: 2px solid #ef5f5f;
    background-color: transparent;
    color: black;
}
.home-page .left-pane{
    margin-top: 100px;
}
.home-page .right-pane img{
    margin-top: 130px;
    width: 200px;
    height: 250px;
}




/* OFFER PAGE */
.offer {
    text-align: center;
    height: 100vh;
}
.offer .content{
    margin-left: auto;
    margin-right: auto;
}
.offer h1{
    margin-top: 100px;
}
.offer .lower{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.offer .lower .list {
    width: fit-content;
}
.offer .lower .list .box .images{
    width: 250px;
    border-radius: 5px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    box-shadow: -1px 5px 5px #919191, 1px -5px 5px #c6c6c6;
}
.offer .lower .list .box img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.offer .lower .list .box{
    text-align: center;
    margin-left: 30px;
}
.offer .lower .list .box .text{
    margin-top: 30px;
    width: 270px;
}
.offer .lower .list .box .text p{
    margin-top: 15px;
}
.offer .lower .list .box .text button{
    height: 35px;
    font-weight: 600;
    width: 120px;
    margin-top: 20px;
    border: 1.5px solid black;
    border-radius: 5px;
    transition: .5s;
}
.offer .lower .list .box .text button:hover{
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid #222;
}






/* NEW PRODUCTS */
.new-products{
    height: 100vh;
    background-color: #dbd9d9;
    width: 100%;
    
}
.new-products .content {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 50px;
}
.new-products .content .inner-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.new-products .content .inner-content .box{
    background-color: #fff;
    margin-left: 20px;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: .2s ease;
}
.new-products .content .inner-content .box img{
    width: 50%;
}
.new-products .content .inner-content .inner-content .box p{
    color: var(--main-color);
    margin-top: 10px;
}
.new-products .content .box:hover{
    transform: translateY(-5px);
}





/* INGREDIENTS */
.ingredients{
    height: 100vh;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}
.ingredients .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px;
}
.ingredients .content a{
    display: inline-block;
    padding: 0.4rem 0.5rem;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--second-bg-color);
    font-size: 0.7rem;
    transition: .5s ease;   
}
.ingredients .content p{
    font-size: 0.8rem;
}
.ingredients .content p{
    font-size: 0.8rem;
}
.ingredients .box1 img{
   max-width: 50%;
}
.ingredients .content .left-side{
    display: grid;
    gap: 20px;
}
.ingredients .content .left-side .box1{
    width: 200px;
    height: 250px;
    background-color: #dbd9d9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .5s ease;
    gap: 5px;
}
.ingredients .content .middle-side img{
    width: 330px;
    height: 390px;

}
.ingredients .content .right-side{
    display: grid;
    gap: 20px;
}
.ingredients .content .right-side .box1{
    width: 200px;
    height: 250px;
    background-color: #dbd9d9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .5s ease;
    gap: 5px;
}
.ingredients .content .right-side .box1:hover{
    transform: translateX(-5px);
}
.ingredients .content .left-side .box1:hover{
    transform: translateX(5px);
}






/* FOOTER */
footer{
    height: 45vh;
    background-color: #7d7d7d;
    margin-top: 200px;
}
footer .content{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;

}
footer .content .first {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
}
footer .content .first .top{
    line-height: 23px;
}
footer .content .first .bottom{
    display: grid;
    gap: 10px;
}
footer .content .second{
    display: grid;
    gap: 30px;
}
footer .content .second .top,.bottom{
    display: flex;
}
footer .content .socials .accounts img{
    width: 30px;
    height: 30px;
}
footer .content .socials .about{
    width: 200px;
    margin-top: 20px;
}
footer .content .arrow{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: -1px 2px 2px #3e3e3e, 1px -2px 2px #3e3e3e;
}




















.payment-info {
    background: blue;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
  }
  
  .product-details {
    padding: 10px;
  }
  
  body {
    background: #eee;
  }
  
  .cart {
    background: #fff;
  }
  
  .p-about {
    font-size: 12px;
  }
  
  .table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  }
  
  .type {
    font-weight: 400;
    font-size: 10px;
  }
  
  label.radio {
    cursor: pointer;
  }
  
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }
  
  label.radio input:checked + span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
  }
  
  .credit-inputs {
    background: rgb(102,102,221);
    color: #fff !important;
    border-color: rgb(102,102,221);
  }
  
  .credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
  }
  
  .credit-card-label {
    font-size: 9px;
    font-weight: 300;
  }
  
  .form-control.credit-inputs:focus {
    background: rgb(102,102,221);
    border: rgb(102,102,221);
  }
  
  .line {
    border-bottom: 1px solid rgb(102,102,221);
  }
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
  }
  
  .spec {
    font-size: 11px;
  }











@media only screen and (max-width: 1124px) {
    section{
        max-height: 120vh;
        /* padding: 10rem 9% 2rem; */
    }
    header{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: 70px;
        margin-top: 40px;
    }
    header .right-navbar .image:nth-child(2){
        margin-left: 40px;
    }
    header .left-navbar img{
        height: 140px;
        margin-top: 20px;
        margin-left: -50px;
    }
    header .middle-navbar a {
        margin-left: 5px;
        transition: .5s ease;
        width: fit-content;
        height: 30px;
        padding: 20px;
      
    }
    .ads{
        width: 100%;
        height: 40px;
    }
    .home-page{
        height: 80vh;
        background-color: rebeccapurple;
    }
    .home-page .content{
        gap: 250px;
    }
    .home-page .content .left-pane h2{
        font-size: 50px;
    }
    .home-page .content .right-pane img{
        width: 330px;
        height: 450px;
    }
    .offer{
        height: 100vh;
    }
    .offer .content .lower{
        gap: 70px;

    }
    .offer .content .lower .list:nth-child(3) .box .images{
       width: 500px;
    }
    .offer .content .lower .list:nth-child(3) .box .images img{
        width: 480px;
    }
    .offer .content .lower .list:nth-child(3) .box .text{
        margin: 20px auto 0 auto;
    }
    .ingredients .content .left-side{
        display: flex;
    }
    .ingredients .content .right-side{
        display: flex;
    }
}






@media only screen and (max-width: 917px) {
    section{
        /* min-height: 20vh; */
        padding: 10rem 9% 2rem;
    }
    header{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    header .middle-navbar{
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        background-color: #fff;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: -230px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    header .middle-navbar a{
        /* display: block; */
        column-gap: 20px;
        padding: auto;
        margin-left: auto;
        margin-right: auto;
        height: 22px;
    }
    header .right-navbar{
        margin-right: -10px;
    }
    header .right-navbar .image:nth-child(1){
        display: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle-navbar.active{
        opacity: 1;
        
    }



   .home-page{
        height: 100vh;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
   }
    .home-page .content{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        padding: 120px 10px;
    }
    .home-page .content .left-pane {
        line-height: 40px;
    }
    .home-page .content .left-pane h1{
        font-size: 2.9rem;
    }
    .home-page .content .left-pane h2{
        font-size: 1.2rem;
    }
    .home-page .content .left-pane p{
        font-size: 1rem;
    }

    .home-page .right-pane{
        margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }



    .offer{
        height: 220vh;
    }
    .offer .content .lower{
        margin-top: 70px;
    }
    .offer .content{
        margin-left: auto;
        margin-right: auto;
    }
    .offer .content h1{
        margin-top: -100px;
    }
    .offer .lower{
        gap: 70px;
    }
    .offer .lower .list .box{
        margin-left: auto;
        margin-right: auto;
    }
    .offer .lower .list .box .images{
        width: 200px;
        border-radius: 5px;
        height: 200px;
    }
    .offer .lower .list .box img{
        width: 190px;
        height: 190px;
    }
    .offer .lower .list .box .text{
        margin-top: 25px;
        width: 230px;
        line-height: 19px;
    }
    .offer .content .lower .list:nth-child(3) .box .images{
        width: 200px;
     }
     .offer .content .lower .list:nth-child(3) .box .images img{
        width: 190px;
     }
     .offer .content .lower .list:nth-child(3) .box .text{
        margin: 20px auto 0 auto;
     }
     .offer .lower .list .box .text button{
        height: 50px;
        width: 140px;
        font-size: 1rem;
        font-weight: 700;
     }



    .new-products{
        height: 200vh;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .new-products .content h1{
        margin: auto;
    }
    .new-products .content{
        gap: 30px;
        margin-top: -150px;
    }
    .new-products .content .inner-content .box{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
        height: 310px;
    }




    .ingredients .firstcontent{
        margin-top: -140px;
    }
    .ingredients .content{
        display: grid;       
    }
    .ingredients .content .middle-side{
        width: 100%;
        height: 100%;
        margin-top: -120px;
        /* margin-bottom: -1/30px; */
    }
    .ingredients .content .left-side{
        margin-left: auto;
        margin-right: auto;
    }
    .ingredients .content .left-side .box1{
        width: 270px;
        height: 300px;
    }
    .ingredients .content .right-side{
        margin-left: auto;
        margin-right: auto;
    }
    .ingredients .content .right-side .box1{
        width: 270px;
        height: 300px;
    }
}


/* @media only screen and (max-width: 640px) {
    .home-page{
        height: 130vh;
   }
   .offer{
        height: 300vh;
   }
   .new-products{
        height: 300vh;
   }
   .new-products h1{
        margin-top: -350px;
    }
    .new-products .content{
        gap: 20px;
        margin-top: -390px;
    }
    .new-products .content .box{
        width: 240px;
        height: 270px;
    }
    .ingredients .content .left-side .box1{
        width: 230px;
        height: 280px;
    }
    .ingredients .content .right-side .box1{
        width: 230px;
        height: 280px;
    }
} */